html,
body {
	/* Setzt die Höhe von html und body auf 100% des Viewports */
	height: 100%;
	/* Entfernt den Standardabstand */
	margin: 0;
}

body {
	/* Entfernt das Padding vom Body */
	padding: 0;
}

* {
	/* Setzt die Schriftart für alle Elemente */
	font-family: Arial, Helvetica, sans-serif;
}